/* Reset some basic elements to ensure consistent appearance */
body,
h1,
h2,
p,
form,
input,
button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* General styles */
body {
    background-image: url('/image/pexels-adrien-olichon-1257089-2387793.jpg');
    background-size: cover;
    background-position: center;
    color: #e0e0e0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    box-shadow: inset -20px -4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}

h1,
h2 {
    color: #ffffff;
}

a {
    color: #1e88e5;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    background: #1e1e1e;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 100%;
    max-width: 400px;
    margin: 20px;
    transition: transform 0.3s ease-in-out;
}

.container:hover {
    transform: translateY(-5px);
}

form {
    display: flex;
    flex-direction: column;
}

form div {
    margin-bottom: 15px;
    transition: transform 0.3s ease-in-out;
}

form div:hover {
    transform: translateX(5px);
}

label {
    font-size: 14px;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    background: #2e2e2e;
    border: 1px solid #444;
    border-radius: 4px;
    padding: 10px;
    color: #fff;
    transition: background-color 0.3s ease-in-out;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
    background-color: #444;
}

button {
    background-color: #1e88e5;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #1565c0;
}

/* Navbar styles */
.navbar {
    width: 100%;
    background-color: #1e1e1e;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    top: 0;
}

.navbar a {
    color: #e0e0e0;
    margin: 0 10px;
    transition: color 0.3s ease-in-out;
}

.navbar a:hover {
    color: #fff;
}

/* Profile styles */
.profile-container {
    background-color: #2c2c2c;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: calc(100% - 60px); /* Add margin from the sides */
    max-width: 1200px; /* Ensure it doesn't stretch too much on very large screens */
    margin: 10px; /* Ensure there's space around the container */
    height: calc(60vh - 20px); /* Ensure it doesn't stretch too much vertically */
    overflow-y: auto;
}

.profile-photo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.profile-photo img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #f0f0f0;
}

.profile-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
}

.profile-info h2 {
    margin: 10px 0;
}

.profile-info p {
    margin: 5px 0;
}

.edit-button, .save-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #3b3b3b;
    color: #f0f0f0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.edit-button:hover, .save-button:hover {
    background-color: #575757;
}

.profile-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.form-group {
    margin: 10px 0;
    width: 100%;
    max-width: 400px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #3b3b3b;
    color: #f0f0f0;
}

.form-group input:focus {
    outline: none;
    background-color: #4d4d4d;
}

/* Adaptation for mobile devices */
@media only screen and (max-width: 600px) {
    .container {
        margin: 10px;
        padding: 10px;
    }

    form div {
        margin-bottom: 10px;
    }

    label {
        font-size: 12px;
    }

    input[type="text"],
    input[type="password"],
    input[type="email"] {
        padding: 8px;
    }

    button {
        padding: 8px;
        font-size: 14px;
    }

    .navbar {
        padding: 5px 0;
    }

    .navbar a {
        margin: 0 5px;
    }

    .social-icons {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        position: absolute;
        bottom: 20px;
        left: 20px;
    }

    .social-icons {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        position: absolute;
        bottom: -30px; /* Adjust as needed to control the distance from the container */
        left: 50%;
        transform: translateX(-50%);
        z-index: 1; /* Ensure icons are above container */
    }
    
    .social-icon {
        margin: 0 10px;
    }
}

/* Loading animation styles */
.loading-animation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 3rem;
}

.letter-animation {
    animation: flicker 1s infinite alternate;
}

@keyframes flicker {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.fade-out {
    animation: fadeOut 1s forwards;
}

.fade-in {
    animation: fadeIn 1s forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    padding-top: 60px;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: transparent;
    margin: auto;
    padding: 20px;
    border: none;
    width: fit-content;
    position: relative;
  }
  
  .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  
  video {
    display: block;
    margin: 0 auto;
  }
  
  canvas {
    position: absolute;
    top: 0;
    left: 0;
  }
  